# This lists the necessary environment varibles for the application.
#
# For development:
# Please create a .env file in the project root with this format and supply the
# needed values. The dotenv-rails gem will set the appropriate environment
# variables automatically.
# DO NOT check the .env file into source control.
#
# For staging/production:
# Please set these as environment variables on the server with the correct values.

###############################################################################
# Required in all environments:
###############################################################################
APPLICATION_HOST=localhost:5000
GOOGLE_SAFE_BROWSING_API_KEY=<key>

###############################################################################
# Required in staging/production:
###############################################################################
# Sidekiq console uses basic auth for access control
# SIDEKIQ_USERNAME=<user>
# SIDEKIQ_PASSWORD=<pass>

# Rollbar error reporting
# ROLLBAR_ACCESS_TOKEN=<token>

# The rollbar environment defaults to the rails environment. But the staging server
# uses the 'production' rails environment. Set this value to 'staging' on the
# staging server so that rollbar can distinguish between the two environments
# No need to set this value outside staging.
# ROLLBAR_ENV=staging
