<div data-controller="alert" data-target="alert.dismiss" class="alert alert-<%= type %>">
  <div>
    <span class="alert-icon">
      <%= alert_icon(type) %>
    </span>

    <%= message %>
  </div>

  <span data-action="click->alert#dismiss" class="alert-close-button">
    <%= unicode_icon('close') %>
  </span>
</div>
