<div class="flex items-center flex-shrink-0 text-white mr-6">
  <span class="font-semibold text-xl tracking-tight">
    <%= unicode_icon(:diagonal_rectangles) %>
    <span class="">SawFish</span>
  </span>
</div>
